* {
	box-sizing: border-box;
}

body {
	background-color: #44494f;
	color: #bfbfbf;
	font-size: 1em;
	font-family: 'Baloo', cursive, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
}

a {
	text-decoration: none;
}

i {
	color: #bfbfbf;
}

p {
	font-size: .35em;
}

#info-01 {
	visibility: hidden;
}

#info-01:target {
	visibility: unset;
}

#info-02 {
	visibility: hidden;
}

#info-02:target {
	visibility: unset;
}

#info-03 {
	visibility: hidden;
}

#info-03:target {
	visibility: unset;
}